* {
  box-sizing: border-box;
  color: #111;
}

html {
  font-size: 16px;
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 5rem;
  background: black;
  margin-bottom: 2rem;
  box-shadow: 0 1px 11px 3px white;
}


.navbar-light .navbar-brand {
  color: #f8f9fa !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #f8f9fa !important;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: #f8f9fa !important;
}

header a {
  color: #eee8e9;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

.search-area {
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
  margin: 0 auto;
}

.search-area form {
  background-color: #e6c521;
  width: 23rem;
  margin: 0 auto;
  padding: 2rem 1rem 1rem 1rem;
  border: 3px solid #d8dee6;
  border-radius: 5px;
}

.search-area label {
  display: block;
}

.search-area input {
  margin-bottom: 1.9rem;
  font-size: 1.2rem;
  height: 1.9rem;
  width: 20rem;
}

.search-area button {
  margin: 0 auto;
  display: block;
  padding: 5px 25px;
  color: white;
  font-size: 1.1rem;
  background-color: #ad343e;
  border: #111 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.search-result {
  background-color: #f3f3f3;
  border-radius: 9px;
  margin: 1.5rem 0;
}

.imagen-container {
  width: 100%;
  display: initial;
  overflow: auto;
  padding: 25px 15px;
  border-bottom: #d8dee6 2px solid;
  text-decoration: none;
}

.imagen-image {
  margin: 0 20px 0 10px;
}

.imagen-info {
  width: 80%;
}

.imagen-info h3 {
  font-weight: 600;
  margin: 0;
}

.imagen-info h4 {
  font-weight: 500;
}

.imagen-info p {
  color: grey;
}
.titulo {
  color: black;
}

.imagen-info button {
  position: relative;
  background-color: black;
  border: none;
  font-size: 12px;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.imagen-info button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
}

.imagen-info button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
}

.MuiButton-containedPrimary{
  color: #fff;
  background-color: #6c757d;
}